.header{
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      
    .right{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        font-size: larger;
      }
    
    .center{
        color: black;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
        display: flex;
        gap: 50px;
        font-size: larger;


        a{
        
          text-decoration: none;
          color: black;
          position: relative;
          font-size: 24px;
          gap: 30px;
          
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: rgb(0, 0, 0);
            transition: width 0.3s ease-in-out; 
        }
  
        &:hover::after {
          width: 100%;
      }
          
      }
      }   
      
.left{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    display: flex;
    gap: 50px;
    font-size: large;

          

    button{
    border: none;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    background-color: black;
    font-style: normal;
    color: white;
    display: flex;
    text-align: center;
    gap: 20px;
    font-size: large;
    padding-left: 17px;
    padding-right: 17px;
    text-align: center;
    padding-top: 5px;
           }

    button:hover{
      cursor: pointer;
        }
    }
}

.anime {
    height: 740px;
    width: 1500px;
    border: 1px solid black;
    text-align: center;
}

.parent {
    position: relative;
}

.parent:hover .two,
.parent:hover .three,
.parent:hover .four,
.parent:hover .five,
.parent:hover .six,
.parent:hover .seven {
    opacity: 1;
}

.parent:hover .two {
    top: 305px;
    left: 700px;
    background-color: chartreuse;
}

.parent:hover .three {
    top: 305px;
    right: 710px;
    background-color: aqua;
}

.parent:hover .four {
    bottom: -390px;
    right: 700px;
    visibility: visible;
    background-color: blue;
}

.parent:hover .five {
    bottom: 100px;
    right: 100px;
    visibility: visible;
    background-color: crimson;
}

.parent:hover .six {
    top: 310px;
    left: 720px;
    visibility: visible;
    background-color: darkblue;
}

.parent:hover .seven {
    top: 310px;
    right: 720px;
    visibility: visible;
}

.one {
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 350px;
    left: 750px;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.two,
.three,
.four,
.five,
.six,
.seven {
    height: 80px;
    width: 80px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
}

.two {
    left: 0;
    top: 0;
}

.three {
   top: 0;
   right: 0;
}

.four {
    bottom: 50%;
    right: 50%;
    visibility: hidden;
}

.five {
    bottom: 100px;
    right: 0;
    
}

.six {
    left: 50%;
    bottom: 50%;
    visibility: hidden;
}

.seven {
    right: 0;
    bottom: 10px;
    visibility: hidden;
}

/* card animation */

.top{
    width: 200px;
    height: 250px;
    background-color: crimson;

    .overlaytop{
        height: 0;
        width: 100%;
        background-color: darkgoldenrod;
        transition:all 1s;
        display: flex;
        justify-content:center;
        align-items:center ;
        overflow: hidden;

    }
    &:hover .overlaytop{
        height: 100%;
    }
}
.bottom{
    width: 200px;
    height: 250px;
    background-color: rgb(16, 248, 39);
    position: relative;

    .overlaybottom{
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: darkgoldenrod;
        transition:all 1s;
        position: absolute;
        display: flex;
        justify-content:center;
        align-items:center ;
        overflow: hidden;

    }
    &:hover .overlaybottom{
        height: 100%;
    }
}

.oright {
    width: 200px;
    height: 250px;
    background-color: rgb(240, 55, 197);
    position: relative;
}

.overlayright {
    right: 0;
    width: 0;
    height: 100%;
    background-color: rgb(35, 213, 233);
    transition: all 1s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.oright:hover .overlayright {
    width: 100%;
}

.oleft {
    width: 200px;
    height: 250px;
    background-color: rgb(145, 37, 234);
    position: relative;
}

.overlayleft {
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(236, 44, 95);
    transition: all 1s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.oleft:hover .overlayleft {
    width: 100%;
}

/* simpale animation */

.animation{
    position: relative;
}

.square {
    height: 200px;
    width: 200px;
    background-color: rgb(25, 82, 142);

    display: flex;
    justify-content: center;
    align-items: center;
  
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: black;
  
    animation: moveX 2s infinite alternate; 
}

@keyframes moveX {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(1300px);
    }
}

.square2 {
    height: 200px;
    width: 200px;
    background-color: lightseagreen;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    right: 0;
    top: 0;

    .circle2 {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: blue;
    z-index: 9999999999;
        animation: moveX1 2s infinite alternate; 
    }
}



@keyframes moveX1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1300px);
    }
}

* {
  
    margin: 0;
}

.footer-animate{
    background-image: linear-gradient(50deg,cornflowerblue 50%,darkslateblue 40%);
    color: white;
    height: fit-content;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;

.parts{
    padding: 12px 7px;
    h3{
        font-size: 22px;
        letter-spacing: 2px;
       
        &::after {
            content: '';
            width: 50%;
            height: 2px;
            margin: 8px 0;
            background: #ffffff;
            display: block;
          
          }
    }
    .part{
        line-height: 40px;
        font-family: sans-serif;
        max-width: 250px;
        font-size: 14px;
        letter-spacing: 2px;
font-weight: 600;
display: flex;
flex-direction: column;
       

span{
    cursor: pointer;
width: 80%;
        
        &::after {
            content: '';
            width: 0%;
            height: 2px;
            margin: 2px 0;
            background: #ffffff;
            display: block;
            transition: 0.5s;
          }
    
          &:hover::after{
            width: 100%;
          }
}
    

    }
}
   
}



  


